<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/layout/main_layout.html}">

<head>
    <title>Dashboard</title>
</head>

<body>

<!--Main content of every page-->
<div layout:fragment="content" class="container">
    <h1 class="subheader-title"></h1>
    <h1> Content of individual screen will be implemented in here</h1>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <!--begin: Datatable-->
    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
    </div>
    <!--end: Datatable-->
</div>

<th:block layout:fragment="script">
    <script th:src="@{/assets/js/custom/members/member-list.js}">
    </script>
</th:block>

</body>

</html>